<template>
  <v-container grid-list-md>
    <v-layout row wrap class="justify-content-center" v-if="tickets.length">
      <v-flex transition="fade" v-if="subi.creatorId === userID" v-for="subi in tickets" :key="subi.id" xs12 sm6 md4 lg3 xl2>
        <v-card v-bind:class="{borde: subi.resuelto, borde2: !subi.resuelto}" dark class="rounded-0 zoom elevation-20">
          <v-card-actions class="pb-2 mb-0 pr-3">
            <v-icon>access_time</v-icon>
            {{subi.time}}
            <v-spacer></v-spacer>
            {{subi.date}}
          </v-card-actions>
          <v-card-media class="p-0 m-0"
                        v-bind:src="subi.url"
                        height="200px"
          >
          </v-card-media>
          <v-list class="pb-0 mb-0 pt-3">
            <div>
              <p class="pl-3">
                <v-icon color="red" class="pr-2 pb-1">report</v-icon>
                {{subi.prioridad}}</p>
              <v-divider light></v-divider>
              <p class="pl-3">
                <v-icon color="pink" class="pr-2 pb-1">delete</v-icon>
                {{subi.tipo}}</p>
              <v-divider light></v-divider>
              <p class="pl-3">
                <v-icon color="blue" class="pr-2 pb-1">my_location</v-icon>
                {{subi.martierra}}</p>
              <v-divider light></v-divider>
            </div>
          </v-list>
          <v-card-actions class="pt-0 mt-0">
            <v-btn v-bind:to="'/listadoTickets/' + subi['.key']" fab dark small flat><v-icon>add</v-icon></v-btn>
            <v-spacer></v-spacer>
            <template v-if="userIsAuthenticated">
              <v-btn v-if="!subi.resuelto" flat color="green" v-on:click="borrar(subi)">Resolver</v-btn>
              <v-btn v-if="subi.resuelto" flat color="orange" v-on:click="devolver(subi)">Devolver</v-btn>
            </template>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout class="justify-content-center" v-else>
      <v-alert color="info" class="mt-5 elevation-24" icon="info" value="true">
        Aún no has enviado ningún ticket.
      </v-alert>
    </v-layout>
  </v-container>
</template>

<script>
import db from '@/fire'

let ticketsRef = db.ref('subidas')

export default{
  data() {
    return {
    }
  },

  computed:{
    userID (){
      return this.$store.getters.user.id
    },
    userIsAuthenticated(){
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    },
    user () {
      return this.$store.getters.user
    },
  },
  watch: {
    user (value) {
      if (value === null || value === undefined){
        this.$router.push('/')
        this.$store.state.title = 'PuertoAPP'
      }
    }
  },
  methods: {
    borrar: function (subi) {
      ticketsRef.child(subi['.key']).child('resuelto').set(true)
    },
    devolver: function (subi){
      ticketsRef.child(subi['.key']).child('resuelto').set(false)
    }
  },

  firebase: {
    tickets: ticketsRef
  },

  created(){
    this.$store.state.titulo = 'Envios'
  },
}
</script>

<style scoped>
  .borde{
    border: 2px green solid
  }
  .borde2{
    border: 2px red solid
  }
</style>
