<template>
  <v-app>
    <v-container grid-list-md>
      <v-layout row wrap class="justify-content-center">
        <v-flex v-if="!userIsAuthenticated">

        </v-flex>
      </v-layout>
      <v-layout row wrap class="justify-content-center">
        <v-flex xs12 sm6 md4 lg3 xl2 v-for="opcion in inicio" :key="opcion.title" transition="fade" >
          <v-card dark class="mt-3 rounded-0 zoom elevation-20">
            <v-card-media
              :src="opcion.img"
              height="150px"
            >
            </v-card-media>
            <v-card-title class="pt-3 pb-0">
              <div>
                <div class="" style="font-size: 20px;">{{opcion.title}}</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <router-link :to="opcion.dir">
                <v-btn
                  @click=""
                  dark
                  small
                  absolute
                  bottom
                  right
                  fab
                  color="red"
                >
                  <v-icon>{{opcion.icon}}</v-icon>
                </v-btn>
              </router-link>
            </v-card-actions>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </v-app>

</template>

<script>
  export default {
    data() {
      return {
        inicio: [
          { title: 'Nuevo ticket', icon: 'keyboard_arrow_right', dir: '/nuevoTicket', img: 'https://ak5.picdn.net/shutterstock/videos/12275615/thumb/1.jpg' },
          { title: 'Listado de tickets', icon: 'keyboard_arrow_right', dir: '/listadoTickets', img: 'http://www.vactualpapers.com/web/wallpapers/colorful-google-inspired-material-design-hd-wallpaper-184/thumbnail/lg.jpg' },
          { title: 'Historial', icon: 'keyboard_arrow_right', dir: '/historial', img: 'https://avante.biz/wp-content/uploads/Material-Wallpaper/Material-Wallpaper-004.jpg' }
        ]
      }
    },
    computed: {
      userIsAuthenticated(){
        return this.$store.getters.user !== null && this.$store.getters.user !== undefined
      },
      user () {
        return this.$store.getters.user
      },
    },

  }
</script>

<style scoped>
  .zoom{
    transition: transform .2s;
  }

  .zoom:hover {
    transform: scale(1.03);
  }
</style>
