<template>
  <v-container>
    <v-layout row class="justify-content-center" offset-sm3>
      <v-flex xs12 sm9 md7 lg5 xl4>
        <v-card dark class="p-3 rounded-0 elevation-20">
          <v-card-media style="border: 1px #FFF solid"
            :src="imageUrl"
            height="200px"
          >
          </v-card-media>
          <v-alert
            class="elevation-20"
            transition="scale-transition"
            color="error" icon="warning"
            dismissible
            v-model="errorUpload"
          >
            Imágen no válida
          </v-alert>
          <input
            ref="file"
            type="file"
            style="display: none"
            accept="image/*"
            @change="imagenSubida"
          >
          <v-btn class="ml-0 mr-0" @click="fileUp">Seleccionar archivo</v-btn>
          <v-list class="pb-0 mb-0 pt-4">
            <v-form ref="form">
              <v-list-tile>
                <v-select
                  label="¿Qué prioridad tiene?"
                  v-model="ticket.prioridad"
                  :items="p"
                  :rules="itemRule"
                  required
                  color="green"
                  prepend-icon="report"
                ></v-select>
              </v-list-tile>
              <v-list-tile class="pt-3">
                <v-select
                  label="¿Qué tipo de residuo es?"
                  v-model="ticket.tipo"
                  :items="t"
                  :rules="itemRule"
                  required
                  color="green"
                  prepend-icon="delete"
                >
                </v-select>
              </v-list-tile>
              <v-list-tile class="pt-3">
                <v-select
                  label="¿Dónde se encuentra?"
                  v-model="ticket.martierra"
                  :items="mt"
                  :rules="itemRule"
                  required
                  color="green"
                  prepend-icon="my_location"
                ></v-select>
              </v-list-tile>
            </v-form>
          </v-list>
          <v-card-actions class="mt-3 align-content-end">
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-2"
              @click="subir"
            >
              <v-icon dark left>check</v-icon>
              Enviar
            </v-btn>
            <v-btn @click="clear">
              <v-icon dark left>delete</v-icon>
              Limpiar</v-btn>
          </v-card-actions>
        </v-card>
        <v-alert class="elevation-20" transition="scale-transition" color="success" icon="info" dismissible v-model="alert">
          Envío realizado correctamente!
        </v-alert>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import db from '@/fire'
  import firebase from 'firebase'

  let ticketsRef = db.ref('subidas');

  export default {
    name: 'Home',
    data() {
      return {
        ticket: {
          prioridad: '',
          tipo: '',
          martierra: '',
          resuelto: false,
          image: '',
          url: '',
          date: '',
          time: '',
          creatorId: ''
        },
        search: '',
        p: ['Baja', 'Media', 'Alta'],
        t: ['Quimico', 'Otros'],
        mt: ['Mar', 'Tierra'],
        text: 'center',
        itemRule: [(v) => !!v || 'Debe rellenar el campo'],
        alert: false,
        errorUpload: false,
        imageUrl: 'https://www.doorknock.in/static/uploads/no_image.png',
      }
    },

    firebase: {
      tickets: ticketsRef
    },

    methods: {
      subir: function () {
        //obtener hora
        var currentdate = new Date();
        var date = currentdate.getDate() + "/"
          + (currentdate.getMonth()+1)  + "/"
          + currentdate.getFullYear();
        if (currentdate.getMinutes() < 10){
          var minutes = "0" + currentdate.getMinutes();
        } else {
          var minutes = currentdate.getMinutes();
        }
        var time = currentdate.getHours() + ":"
          + minutes
        this.ticket.date = date;
        this.ticket.time = time;

        //asignar userID
        if(this.$store.getters.user != null){
          this.ticket.creatorId = this.$store.getters.user.id
        }

        //subir ticket sin url, subir foto y asignar url de descarga a url de ticket
        let key
        if (this.$refs.form.validate() && this.ticket.image != '') {
          ticketsRef.push(this.ticket).then((data) => {
            key = data.key
            return key
          }).then(key => {
            var storageRef = firebase.storage().ref('/imagenesTickets/' + key)
            storageRef.put(this.ticket.image).then(function (snapshot) {
              var pictureURL = snapshot.downloadURL;
              firebase.database().ref('subidas').child(key).update({url: pictureURL})
            })
          })



          //limpiar formulario y ticket
          this.ticket.martierra = ''
          this.ticket.prioridad = ''
          this.ticket.tipo = ''
          this.ticket.url = ''
          this.imageUrl = 'https://www.doorknock.in/static/uploads/no_image.png'
          this.alert = true
          this.$refs.form.reset()

        }

        if(this.ticket.image == ''){
          this.errorUpload = true
        }


      },
      clear: function(){
        this.$refs.form.reset();
      },
      fileUp: function () {
        this.$refs.file.click();
      },
      imagenSubida: function (event) {
        const files = event.target.files
        let filename = files[0].name;
        if (filename.lastIndexOf('.') <= 0){
          return alert('Formato no valido')
        }
        const fileReader = new FileReader();
        fileReader.addEventListener('load', () => {
          this.imageUrl = fileReader.result
        })
        fileReader.readAsDataURL(files[0])
        this.ticket.image = files[0]
      }
    },

    created(){
      this.$store.state.titulo = 'Nuevo Ticket'
    },
    watch: {
      user (value) {
        if (value === null || value === undefined){
          this.$router.push('/')
        }
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
