<template>
  <p>b</p>
</template>

<script>

  export default{
    data(){
      return {

      }
    },
    watch: {
      user (value) {
        if (value === null || value === undefined){
          this.$router.push('/')
        }
      }
    },
    created(){
      this.$store.state.titulo = 'Perfil'
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
    }
  }
</script>
