<template>
  <div>
    <p>{{tickets.date}}</p>
    <p>{{tickets.time}}</p>


  </div>

</template>

<script>
  import db from '../fire'

  export default {
    name: 'Ticket',
    props: ['id'],
    data () {
      return {

      }
    },
    firebase() {
      return {
        tickets: {
          source: db.ref('subidas/' + this.id),
          asObject: true
        }
      };
    },
    methods: {

    },

    created(){
      this.$store.state.titulo = 'Ticket'
    },
    watch: {
      user (value) {
        if (value === null || value === undefined){
          this.$router.push('/')
        }
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      },
    }
  }


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
