<template>
  <div id="app">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
      <link href="https://unpkg.com/vuetify@0.17.2/dist/vuetify.min.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <v-app>
    <v-layout wrap>
      <!-- menu izquierdo -->
      <v-navigation-drawer
        fixed
        v-model="drawer"
        app
        dark
        id="style-6"
      >
        <v-list class="pt-3">
          <v-list-tile avatar tag="div">
            <router-link v-bind:to="'/'">
              <v-list-tile-avatar v-on:click="redirectToMain">
                <img src="./assets/cargo-ship.svg" />
              </v-list-tile-avatar>
            </router-link>
            <v-list-tile-content class="pt-1">
              <v-list-tile-title>PuertoAPP</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon @click.stop="drawer = !drawer" class="mr-2">
                <v-icon>chevron_left</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
        <v-divider light class="mb-0 pb-0"></v-divider>

        <div v-if="userIsAuthenticated != true">
        <!-- login -->
        <v-list class="pt-0 mb-0 pb-0" dense>
          <v-list-group>
            <v-list-tile slot="item" @click="">
              <v-list-tile-action>
                <v-icon color="green">person_outline</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Login</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>keyboard_arrow_down</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <!-- alertError -->
            <div v-if="error">
              <app-alert @dismissed="onDismissed" :text="error.message" class="mt-0 mb-0"></app-alert>
            </div>
            <v-card dark class="p-3 rounded-0">
              <v-form ref="form" v-model="validForm">
                <v-layout row wrap class="pl-4 pr-4">
                  <v-text-field
                    label="E-mail"
                    name="email"
                    v-model="email"
                    type="email"
                    :rules="emailRule"
                    required
                    color="green"
                  ></v-text-field>
                </v-layout>
                <v-layout row wrap class="pl-4 pr-4">
                  <v-text-field
                    label="Contraseña"
                    hint="Mínimo 6 carácteres."
                    name="password"
                    :rules="passwordRule"
                    v-model="password"
                    :append-icon="il ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (il = !il)"
                    :type="il ? 'password' : 'text'"
                    required
                    color="green"
                  ></v-text-field>
                </v-layout>
              </v-form>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="rounded-0"
                  @click="onLogin"
                  type="submit"
                  color="green"
                  :disabled="!validForm, loading"
                  :loading="loading"
                >
                  Acceder
                  <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                  </span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-list-group>
        </v-list>
        <v-divider light class="mb-0 pb-0 mt-0 pt-0"></v-divider>
        <!--Registro-->
        <v-list class="pt-0 mb-0 pb-0" dense>
          <v-list-group>
            <v-list-tile slot="item" @click="">
              <v-list-tile-action>
                <v-icon color="green">create</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Registro</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon>keyboard_arrow_down</v-icon>
              </v-list-tile-action>
            </v-list-tile>
            <!-- alertError -->
            <div v-if="errorRegistro">
              <app-alert @dismissed="onDismissed2" :text="errorRegistro.message" class="mt-0 mb-0"></app-alert>
            </div>
            <v-card dark class="p-3 rounded-0">
              <v-form ref="form2" v-model="validForm2">
                <v-layout row wrap class="pl-4 pr-4">
                  <v-text-field
                    label="E-mail"
                    name="email"
                    v-model="emailSign"
                    type="email"
                    :rules="emailRule"
                    required
                    color="green"
                  ></v-text-field>
                </v-layout>
                <v-layout row wrap class="pl-4 pr-4">
                  <v-text-field
                    label="Contraseña"
                    hint="Mínimo 6 carácteres."
                    name="password"
                    :rules="passwordRule"
                    v-model="passwordSign"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    required
                    color="green"
                  ></v-text-field>
                </v-layout>
                <v-layout row wrap class="pl-4 pr-4">
                  <v-text-field
                    label="Confirmar contraseña"
                    hint="Mínimo 6 carácteres."
                    name="password"
                    :rules="[
                       (v) => !!v || 'Campo no rellenado',
                       (v) => v.length >= 6 || 'Mínimo 6 carácteres',
                       comparePasswords
                      ]"
                    v-model="passwordConfirm"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'password' : 'text'"
                    color="green"
                    required
                  ></v-text-field>
                </v-layout>
              </v-form>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="rounded-0"
                  type="submit"
                  :disabled="!validForm2, loadingRegistro"
                  @click="onSign"
                  color="green"
                  :loading="loadingRegistro"
                >
                  Registrarse
                  <span slot="loader" class="custom-loader">
                    <v-icon light>cached</v-icon>
                  </span>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-list-group>
        </v-list>
        </div>
        <div v-else-if="userIsAuthenticated">
          <v-list v-for="item in loguedItems" :key="item.title" :to="item.dir" dense class="p-0 m-0">
            <template v-if="item.title === 'Desconectarse'">
              <router-link :to="item.dir" style="text-decoration:none;">
                <v-list-tile
                  :key="item.title"
                  @click="logUserOut"
                >
                  <v-list-tile-action>
                    <v-icon color="blue">{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </router-link>
            </template>
            <template v-else>
              <router-link :to="item.dir" style="text-decoration:none;">
                <v-list-tile
                  :key="item.title"
                  @click=""
                >
                  <v-list-tile-action>
                    <v-icon color="blue">{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </router-link>
            </template>
          </v-list>
        </div>

        <v-divider light class="pt-0 mt-0"></v-divider>
        <!-- opciones menu -->
        <v-list v-for="item in items" :key="item.id" class="pt-0" dense>
          <router-link :to="item.dir" style="text-decoration:none;">
            <v-list-tile
              :key="item.title"
              @click=""
            >
              <v-list-tile-action>
                <v-icon color="red">{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </router-link>
        </v-list>
        <v-divider light></v-divider>
      </v-navigation-drawer>



      <!-- Navbar -->
      <v-flex>
        <v-card class="elevation-20 rounded-0 mb-5 pb-4" style="border: 0px">
          <v-toolbar color="grey darken-3" dark fixed app>
            <v-toolbar-side-icon @click.stop="drawer = !drawer">
            </v-toolbar-side-icon>
            <v-toolbar-title>{{this.$store.getters.titulo}}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
        </v-card>
        <transition name="slide-fade">
          <router-view/>
        </transition>
        <router-link v-bind:to="'/nuevoTicket'">
          <v-btn v-on:click="" class="zoom mr-3"
                 dark
                 fab
                 fixed
                 bottom
                 right
                 color="red">
            <v-icon dark>add</v-icon>
          </v-btn>
        </router-link>
      </v-flex>
    </v-layout>
    </v-app>
  </div>
</template>

<script>
  import * as firebase from 'firebase';

export default {
  name: 'App',
  data(){
    return {
      drawer: false,
      items: [
        { title: 'Nuevo ticket', icon: 'add', dir: '/nuevoTicket' },
        { title: 'Listado de tickets', icon: 'dashboard', dir: '/listadoTickets' },
        { title: 'Historial', icon: 'watch_later', dir: '/historial'}
      ],
      loguedItems: [
        { title: 'Perfil', icon: 'account_circle', dir: '/profile'},
        { title: 'Tus envíos', icon: 'send', dir: '/envios'},
        { title: 'Desconectarse', icon: 'eject', dir: ''}
      ],
      right: null,
      valid: false,
      e1: true,
      il: true,
      email: '',
      password: '',
      emailRule: [
        (v) => !!v || 'Campo no rellenado',
        (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail incorrecto',
      ],
      passwordRule: [
        (v) => !!v || 'Campo no rellenado',
        (v) => v.length >= 6 || 'Mínimo 6 carácteres'
      ],
      validForm: true,
      validForm2: true,
      emailSign: '',
      passwordSign: '',
      passwordConfirm: '',
      emailExistente: false,
    }
  },
  computed: {
    comparePasswords (){
      return this.passwordSign !== this.passwordConfirm ? 'Contraseña no concuerda' : true
    },
    user () {
      return this.$store.getters.user
    },
    userIsAuthenticated(){
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    },
    error (){
      return this.$store.getters.error
    },
    errorRegistro (){
      return this.$store.getters.errorRegistro
    },
    loading (){
      return this.$store.getters.loading
    },
    loadingRegistro (){
      return this.$store.getters.loadingRegistro
    },
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined){
        this.$router.push('/')
      }
    }
  },
  methods:{
    onLogin: function(){
      this.$store.dispatch('signUserIn', {email: this.email, password: this.password})
    },
    onSign: function() {
      this.$store.dispatch('signUserUp', {email: this.emailSign, password: this.passwordSign})
    },
    onDismissed() {
      this.$store.dispatch('clearError')
    },
    onDismissed2() {
      this.$store.dispatch('clearErrorRegistro')
    },
    logUserOut(){
      this.$store.dispatch('logOut')
      this.$store.dispatch('changeTitle', 'PuertoAPP')
    },
    redirectToMain(){
      this.$store.dispatch('changeTitle', 'PuertoAPP')
      this.$router.push('/')
    }
  },


}
</script>

<style>
  *{
    font-family: 'Raleway', sans-serif;
  }

  .slide-fade-enter-active {
    transition: all .9s ease;
  }
  .slide-fade-leave-active {
    transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  #app{
    background: url('./assets/port.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #style-6::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  #style-6::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  #style-6::-webkit-scrollbar-thumb
  {
    background-color: #4caf50;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
  }

  .zoom{
    transition: transform .2s;
  }

  .zoom:hover {
    transform: scale(1.03);
  }

  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
